.settingIconCheckbox {
  /* margin-left: 12px !important;
    padding-left: 0px !important; */
}

.fromControl {
  margin-left: 0px !important;
  padding-left: 4px !important;
}

.accordionSummary {
  padding-left: 0px !important;
}
