.headerWrapper {
  width: fit-content;
  position: relative;
}

.header {
  width: fit-content;
  z-index: -1;
}

.headerGradient {
  content: '';
  z-index: -2;
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 25%;
  background-color: rgba(16, 178, 127, 0.85);
  transition: all 0.2s ease-out 100ms;
}

.headerWrapper:hover > .headerGradient {
  height: 50%;
}

.ratingCard {
  background-color: transparent !important;
}

.ratingCardActions {
  justify-content: flex-end;
}

.rating > * {
  overflow: hidden;
}
