.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;
  border-radius: 4px;

  background-color: rgba(255, 255, 255, 0.1);
  z-index: 700;

  min-height: 42px;
  color: white;
  font-size: 14px;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
}

div.icon {
  color: rgba(255, 255, 255, 0.8);
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltipText {
  position: relative;
  overflow-wrap: break-word;
  user-select: none;
  pointer-events: none;
  position: relative;
  display: none;
}

.tooltipText {
  font-family: Helvetica, sans-serif;
  text-align: center;
  max-width: 320px;
  max-height: 100%;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  z-index: 1000;
  flex-grow: 0;
  font-size: 14px;
}
.root {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

.root:hover > .tooltipText,
.root:hover > .arrow {
  display: block;
}

.arrow {
  border: 7px solid transparent;
  border-left-color: rgba(255, 255, 255, 0.1);
  border-right-width: 0;
  border-top-width: 5px;
  border-left-width: 5px;
  border-bottom-width: 5px;
  display: none;
}
