.root {
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid #888e91;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.root:hover {
  cursor: pointer;
}

.root.checked {
  border: 2px solid #10b27f;
  background-color: #10b27f;
}

.tick {
  color: white;
  visibility: hidden;
  margin: 0px;
}

.checked > .tick {
  visibility: visible;
}
