.expiryDate {
  color: rebeccapurple;
  display: none;
  position: absolute;
  /* top: 0; */
  font-family: Helvetica, sans-serif;
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  padding: 1ch 1.5ch;
  border-radius: 0.3ch;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background: #393c40;
  color: #fff;
  z-index: 1000;
  line-height: 1.2em;
  font-size: 1em;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  /* bottom: calc(100% + 5px); */
}
.timeToExpiry {
  position: relative;
}

.timeToExpiry:hover > .expiryDate,
.timeToExpiry:hover > .arrow {
  display: block;
}

.arrow,
.expiryDate {
  font-size: 0.9em;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  bottom: calc(100% + 5px);
  /* left: 50%;
  transform: translate(-50%, -0.5em); */
}
.arrow {
  border: 5px solid transparent;
  z-index: 1001;
  /* bottom: 100%; */
  border-bottom-width: 0;
  border-top-color: #393c40;
  transform: translate(-50%, -0.5em);
}
