.bkbPriceTrendPositive {
  color: #11c38b;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.bkbPriceTrendNegative {
  color: #f35f40;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.bkbPriceTrendNeutral {
  color: rgb(78, 82, 86);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.bkbPriceTrend {
  padding-left: var(--bkb-padding-margin-s) !important;
  padding-right: var(--bkb-padding-margin-s) !important;
}
