[tooltip] {
  position: relative;
}

[tooltip]::before,
[tooltip]::after {
  font-size: 0.9em;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  z-index: 1001;
}
[tooltip]::after {
  content: attr(tooltip);
  font-family: Helvetica, sans-serif;
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  padding: 1ch 1.5ch;
  border-radius: 0.3ch;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background: #393c40;
  color: #fff;
  z-index: 1000;
  line-height: 1.2em;
  font-size: 1em;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* FLOW: UP */
[tooltip]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #393c40;
}
[tooltip]::after {
  bottom: calc(100% + 5px);
}
[tooltip]::before,
[tooltip]::after {
  left: 50%;
  transform: translate(-50%, -0.5em);
}

/* ONLY the ::before */
[tooltip]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #393c40;
}

/* ONLY the ::after */
[tooltip]::after {
  bottom: calc(100% + 5px);
}

/* Both ::before & ::after */
[tooltip]::before,
[tooltip]::after {
  left: 50%;
  transform: translate(-50%, -0.5em);
}
