html:is(:root) {
  font-size: 10px !important;
}

#sidebarWrapper {
  width: var(--bkb-navbar-width) !important;
}

.Header.navbar-fixed-top {
  height: var(--bkb-header-height) !important;
  left: 0px !important;
}

.sidebarNav {
  margin-top: var(--bkb-header-height) !important;
}

.sidebarNav > li > div.activeImage,
.sidebarNav > li > div.normalImage {
  transform: scale(1.2);
}

div.skyBranding.pull-left {
  left: 0px !important;
  display: flex;
  align-items: center;
}

.icon-sky {
  height: 65% !important;
}

#pageWrapper {
  padding-left: var(--bkb-navbar-width) !important;
}

.rightSide.leagueList > .userInfo,
.userInfo > .image,
.image > .imageContainer {
  height: 44px !important;
}

.image > .imageContainer {
  width: 44px !important;
  height: 44px !important;
}

.image > .imageContainer > img {
  width: 44px !important;
  height: 44px !important;
  margin: 0px !important;
  object-fit: cover !important;
}
