:root {
  --bkb-header-height: 64px;
  --bkb-navbar-width: 64px;
  --bkb-padding-margin-l: 32px;
  --bkb-padding-margin-m: 16px;
  --bkb-padding-margin-s: 8px;
  --bkb-padding-margin-xs: 4px;
  --primary-hue: 161;
  --primary-saturation: 84%;
}
