/* Styles for stuff added by this extension */

.bkb-root {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.bkb-btn {
  background-color: #11c38b;
  border-radius: 3px;
  padding: 4px;
  margin: 1px;
  text-align: center;
  display: inline-block;
  position: relative;
}

@media only screen and (max-width: 1180px) {
  .bkb-root {
    display: none;
  }
}

.bkb-btn:hover {
  cursor: pointer;
}

.bkb-tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  white-space: nowrap;
  top: 0px;
  right: 105%;
  width: fit-content;
  padding-left: 2px;
  padding-right: 2px;
}

.bkb-btn .bkb-tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.bkb-btn:hover .bkb-tooltip {
  visibility: visible;
}

#bkb-player-row {
  width: auto !important;
  display: flex;
  flex-direction: row;
}

.bkb-price-trend-positive {
  color: #11c38b;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.bkb-price-trend-negative {
  color: #f35f40;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.bkb-price-trend-neutral {
  color: rgb(78, 82, 86);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.bkb-price-trend {
  padding-left: var(--bkb-padding-margin-s) !important;
  padding-right: var(--bkb-padding-margin-s) !important;
}

.bkb-betting-players-popover {
  visibility: hidden;
  background: #212324;
  color: #fff;
  /* text-transform: uppercase; */
  font-family: Roboto Condensed, sans-serif;
  padding-left: var(--bkb-padding-margin-s);
  padding-right: var(--bkb-padding-margin-s);
  padding-top: 1px;
  padding-bottom: 1px;
  display: flex;
  flex-direction: column;
  top: 0;
}

.bkb-betting-players:hover > .bkb-betting-players-popover {
  visibility: visible;
}

.bkb-betting-players-popover {
  position: absolute;
}
.bkb-no-popup {
  display: none;
}

.bkb-betting-players-number > div {
  text-align: right;
  margin-bottom: -8px;
}
.bkb-betting-players-number {
  color: rgb(78, 82, 86);
}

.bkb-betting-players {
  padding-left: var(--bkb-padding-margin-s) !important;
  padding-right: var(--bkb-padding-margin-s) !important;
}
