/* Styles for stuff added by this extension */

.bkb-root {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.bkb-btn {
  background-color: #11c38b;
  border-radius: 3px;
  padding: 4px;
  margin: 1px;
  text-align: center;
  display: inline-block;
  position: relative;
}

@media only screen and (max-width: 1180px) {
  .bkb-root {
    display: none;
  }
}

.bkb-btn:hover {
  cursor: pointer;
}

.bkb-tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  white-space: nowrap;
  top: 0px;
  right: 105%;
  width: fit-content;
  padding-left: 2px;
  padding-right: 2px;
}

.bkb-btn .bkb-tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.bkb-btn:hover .bkb-tooltip {
  visibility: visible;
}
