.playerGroup > .playerRow {
  padding-right: var(--bkb-padding-margin-m);
  display: grid !important;
  justify-content: stretch;
  grid-template-columns: 128px auto 185px;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    'picture playerInfo infoBox'
    'picture playerInfo offerWidget';
}

.playerGroup .playerRow > .playerImage {
  grid-area: picture;
}

.playerGroup .playerRow > .playerInfo {
  grid-area: playerInfo;
}

.playerRow > .infoBox {
  grid-area: infoBox;
}

.playerRow > .offerWidget {
  grid-area: offerWidget;
}

.statusBar > .balance {
  display: flex !important;
  position: static !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: flex-end;
  height: 100% !important;
  padding-right: var(--bkb-padding-margin-l);
}

.TransferBuy .playerRow > .infoBox > div > .userName {
  top: auto !important;
  right: auto !important;
  left: auto !important;
  display: block;
  position: relative;
  visibility: hidden;
  transform: translateY(-50%);
}
.playerRow > .infoBox > div:hover > .userName {
  visibility: visible !important;
}

.TransferBuy .playerGroup .playerRow .infoBox .ownerImage {
  transform: translateY(-25%);
}
