.TransferMarket {
  padding-top: 25px !important;
}

.TransferMarket > .leftContainer {
  margin: 0px var(--bkb-padding-margin-l) !important;
  padding-top: var(--bkb-padding-margin-l);
  flex-grow: 1;
}

.TransferMarket > .rightContainer {
  padding: var(--bkb-padding-margin-l) !important;
  /* max-width: 500px; */
  min-width: 400px;
  width: initial !important;
  position: static !important;
  flex-grow: 2;
  padding-top: var(--bkb-header-height);
  margin: 0px !important;
}

div.TransferMarket.inner {
  display: flex;
  flex-wrap: nowrap;
}

.playerGroup .playerRow > .playerInfo {
  margin: 0px !important;
}

.playerGroup .playerRow > .playerImage,
.playerGroup .playerRow > .playerImage > img {
  height: 100% !important;
  margin: 0px !important;
}

.playerGroup .playerRow > .playerImage > img {
  transform: scale(1.15);
}

.playerGroup .playerRow > .playerImage {
  width: fit-content !important;
}

.playerRow > .offerWidget,
.playerRow > .infoBox {
  height: 100% !important;
  width: fit-content !important;
  justify-self: end;
}

.offerWidget > .price {
  display: none;
}

.infoBox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.infoBox > .time {
  margin: 0px !important;
  margin-right: var(--bkb-padding-margin-m) !important;
  height: 40% !important;
}

.infoBox > div {
  height: 60% !important;
  width: auto !important;
}

.playerGroup .playerRow .infoBox .ownerImage > img {
  object-fit: cover;
  height: 100% !important;
  width: auto !important;
}

.playerGroup .playerRow > .playerInfo {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  padding-top: var(--bkb-padding-margin-m);
  padding-bottom: var(--bkb-padding-margin-m);
}

.playerInfo > .playerBadges > .badge {
  margin: 0px !important;
}

@media only screen and (min-width: 1400px) {
  .playerGroup .playerRow > .playerInfo {
    display: grid !important;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      'playerBadges playerPoints .'
      'playerName playerPoints .';

    padding-top: var(--bkb-padding-margin-m);
    padding-bottom: var(--bkb-padding-margin-m);
  }

  .playerBadges {
    align-self: end;
    grid-area: playerBadges;
  }

  .playerName {
    grid-area: playerName;
    width: 155px !important;
  }

  html .playerGroup .playerInfo > .playerPoints {
    width: 263px;
    align-self: center;
    justify-self: end;
    grid-area: playerPoints;
  }

  .playerPoints > .price {
    padding-right: 0px !important;
  }

  .playerPoints > .points {
    width: 61px !important;
  }
}

.playerGroup .playerInfo > .playerPoints {
  margin: 0px !important;
}

.playerName > .firstName {
  font-size: 16px !important;
  line-height: 16px !important;
}

.playerName > .lastName {
  font-size: 24px !important;
  line-height: 24px !important;
}

.playerRow .playerPoints span strong {
  font-size: 18px !important;
  line-height: 18px !important;
}

.playerRow > .offerWidget {
  width: 185px !important;
  display: flex;
  flex-direction: row;
}

.offerWidget > .offerInput.disabled {
  width: 100% !important;
}

.offerWidget > .offerInput {
  width: 80% !important;
}

html .TransferMarket .lineup .lineupContainer .player .playerContainer .name {
  letter-spacing: 0.04rem;
}
